{% extends 'base.html' %}
{% load static %}

{% block title %}Contact - Fiare din Beci{% endblock %}

{% block content %}
<section class="signup-section  content-section vh-100 d-flex align-items-center" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Abonează-te pentru noutăți!</h2>

                <!-- This form is pre-integrated with SB Forms. To make it functional, you will need an API token. -->
                <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Email address input-->
                    <div class="row input-group-newsletter">
                        <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Introdu adresa de email..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                        <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Trimite!</button></div>
                    </div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">O adresă de email este necesară.</div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Adresa de email nu este validă.</div>

                    <!-- Success message-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 mt-2 text-white">
                            <div class="fw-bolder">Trimitere reușită!</div>
                        </div>
                    </div>
                    <!-- Error message-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Eroare la trimiterea mesajului!</div></div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Adresă</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Timișoara, România</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">contact@fiaredinbeci.ro</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Telefon</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+40 123 456 789</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="https://wa.me/40123456789"><i class="fab fa-whatsapp"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>

        </div>
    </div>
</section>
{% endblock %}
